html,
body {
  height: 100%;
}

.header {
  height: 100px;
}

.card-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 100px;
  position: absolute;
  background-color: white;
  z-index: auto;
}

#book-form {
  position: absolute;
  z-index: -1;
}

.active {
  z-index: 1 !important;
}
